In [4]:
# print number from 1 to 100

count = 1
while count <= 100:
    print(count)
    count += 1
    
    #print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
# print number from 100 to 1

count = 100
while count >= 1: #stopping condition
    print(count)
    count -= 1
    #print(count)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [15]:
# print multipication table of a number n.
n = int(input("Enter a number: "))
print("Multiplication table of", n)
i = 1
while i <=10:
    print(n*i)
    i += 1
    #print(i)

Multiplication table of 4
4
8
12
16
20
24
28
32
36
40

In [29]:

numbs = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

index = 0

while index < len(numbs):
    #print(index)
    print(numbs[index])
    index += 1

1
4
9
16
25
36
49
64
81
100

In [32]:
numbs = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

x = 36
i = 0
while i < len(numbs):
	if numbs[i] == x:
		print("Found", x, "at index", i)
		break
	i += 1

Found 36 at index 5

In [3]:
# for loop
# write program to print number from 1 to 100

for i in range(1, 101):
	print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [5]:
# write program to print number from 100 to 1
for i in range(100, 0, -1):
    	print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
# write program to print multiplication table of a number n.
n = int(input("Enter a number: "))
print("Multiplication table of", n)
for i in range(1, 11):
    print(n*i)

Multiplication table of 5
5
10
15
20
25
30
35
40
45
50

In [7]:
numbs = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
for i in numbs:
	print(i)

1
4
9
16
25
36
49
64
81
100

In [12]:
# write program to find a number in a list.
numbs = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
x= 64
for i in range(len(numbs)):
    if numbs[i] ==x:
        print("Found", x, "at index", i)

Found 64 at index 7

In [19]:
# write program to find a number in a tuple.
numbs = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
x= 49
for i in range(len(numbs)):
	if numbs[i] ==x:
		print("Found", x, "at index", i)

Found 49 at index 6

In [20]:
# write program to find a number in a string.
str = "Hello World"
x = "l"
for i in range(len(str)):
	if str[i] == x:
		print("Found", x, "at index", i)

Found l at index 2
Found l at index 3
Found l at index 9

In [ ]:
# Write a program to find all prime numbers between 10 and 50 using a for loop.
for num in range(2, 51):
	if num > 1:
		for i in range(2, num):
			if (num % i) == 0:
				break
		else:
			print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [58]:
# Given a sentence, reverse each word using a for loop.
sentence = "Hello World"
words = sentence.split()
reversed_words = []
for word in words:
	reversed_words.append(word[::-1])
reversed_sentence = ' '.join(reversed_words)
print(reversed_sentence)

olleH dlroW

In [59]:
# Use a for loop to count how many times each character appears in a string (excluding spaces), and print the result as a dictionary.
sentence = "Hello World"
char_count = {}
for char in sentence:
	if char != ' ':
		if char in char_count:
			char_count[char] += 1
		else:
			char_count[char] = 1
print(char_count)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, 'W': 1, 'r': 1, 'd': 1}

In [ ]:
# Write a program to find the factorial of a number using a for loop.
num = int(input("Enter a number: "))
factorial = 1
for i in range(1, num + 1):
	factorial *= i
print("The factorial of", num, "is", factorial)
# Write a program to find the sum of all even numbers between 1 and 100 using a for loop.

IndentationError: expected an indented block after 'if' statement on line 7 (1891354151.py, line 8)

In [5]:
nums = [2, 4, 8, 12, 16]

print([x**2 for x in nums])

[4, 16, 64, 144, 256]

In [2]:
try:
    print(int("abc"))
except ValueError:
    print("Invalid input")

Invalid input

In [3]:
bool([]) is False

True

In [4]:
s = {1, 2, 3}
s.discard(4)
print(s)

{1, 2, 3}

In [5]:
s = "Hello123"
result = s[1:6:2] + str(int(s[-1]) + int(s[-2]))
print(result)

el15

In [1]:
x = 10
y = 5
x += y * 2
print(x)

20

In [5]:
my_list = [1, 2, 3, 4, 5]
print(my_list[::-1])

[5, 4, 3, 2, 1]

In [3]:
#What is the result of the following code?

#python
#Copy
#Edit
x = "Python"
y = x[::-1]
z = x[:3] + y[3:]
print(z)

PyttyP

In [3]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:4:2])

[2, 4]

In [5]:
z = 5 + 2j
print(z.imag)

2.0

In [1]:
set1 = {1, 2, 3}  
set2 = {3, 4, 5}  
print(set1 - set2)

{1, 2}

In [1]:
x = [1, 2, 3]  
print(x * 2)

[1, 2, 3, 1, 2, 3]